#App {
  position: relative;
  width:100vw;
  height:100vh;
  text-align: center;
  background-color: #9DE5C7;
}

button{
  position:absolute;
  height:10vw;
  width: 10vw;
  border-radius: 0.4vw;
  border: 0px;

}

button p{
  position:relative;
  bottom:-4.0vw;
  left:-4.0vw;
  font-size: 0.9vw;
}

.c0{
  left:21.8vw;
}.c1{
  left:37vw;
}.c2{
  left:52.2vw;
}.c3{
  left:67.4vw;
}

.l0{
  top:25vh;
}
.l1{
  top:55vh;
}

#feuille2{
  position:absolute;
  left:0px;
  top:0px;
  width:100vw;
  height:100vh;
}
#feuille1{
  position:absolute;
  transform:scaleX(-1);
  left:-100px;
  top:0px;
  width:55vw;
}